.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.product-container {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.btn-link {
    text-decoration: none;
}

.btn-checkout {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.btn-checkout .icon {
    font-size: 20px;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.pagination-btn {
    padding: 10px 15px;
    font-weight: 600;
    background-color: #FFA500;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.pagination-btn:hover {
    background-color: #008000;
}

.active {
    padding: 10px 15px;
    font-weight: 600;
    background-color: #008000;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.seletPage {
    padding: 10px 15px;
    font-weight: 600;
    background-color: #FFA500;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.seletPage:hover {
    background-color: #008000;
}


